﻿<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Weather_monitor</title>

    <environment include="Development">
        <link href="~/lib/bootstrap_4/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/bootstrap_4/css/bootstrap-grid.css" rel="stylesheet" />
        <link href="~/lib/bootstrap_4/css/bootstrap-reboot.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
   
</head>
<body>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Weather_monitor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>*@

    <div class="">
        @RenderBody()
       
        @*<footer>
            <p>&copy; 2019 - Weather_monitor</p>
        </footer>*@
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap_4/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
   

    @RenderSection("Scripts", required: false)
</body>
</html>
