﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="card" id="Cardbody">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div id="headweather" class="mt-1">
                    <div id="h">
                        Leam-Chabang
                    </div>
                </div>
                <div id="bodyweather">
                    <div id="temp1">
                        @*<div id="temp"></div><div id="unittemp">C</div>*@
                        <span id="temp"></span> <span id="unittemp">°C</span>
                    </div>

                    <div id="wind"></div>
                    <div id="humidity"></div>
                   
                </div>
                <div  class="transbox">
                    <p id="showtime"></p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-8">
                        <div id="imgn"></div>
                    </div>
                    <div class="col-lg-4">
                        <div id="headdust" class="mt-1">
                            PM 2.5
                        </div>
                        <div id="bodydust">
                            <div id="showdust"></div>
                            <div id="showunitdust">µg/m³</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div id="header5day"  class="mt-1">
                            <p>Chonburi</p>
                        </div>
                        <div id="body5day">
                            <div id="cont_5b817ef62350c1aa5873750e770d5b73">
                            <script type="text/javascript" async src="https://www.theweather.com/wid_loader/5b817ef62350c1aa5873750e770d5b73"></script>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
            @*<div class="col-lg-3">
                <div id="headtime" class="mt-2">
                    <div>
                        <p id="showtime"></p>
                    </div>
                    <div class="pt-1">
                        <p id="showday"></p>
                    </div>

                </div>
            </div>*@
        </div>

    </div>

</div>

@section Scripts{
    <style>
        body {
            padding-top: 5px;
        }
        #temp{
            font-family:'Arial Unicode MS';
            font-size:120px;
            color:aliceblue;
        }
        #temp1{
            position:absolute;
            top:15%;

        }
        #unittemp{
            font-family:'Arial Unicode MS';
            font-size:120px;
            color:blue;
            
        }
        #wind{
            padding-left:3px;
            text-align:center;
            font-size:50px;
            color:#000000;
            padding-left:25px;
            position: absolute;
            bottom: 45%;
        }
        #humidity {
            padding-left: 3px;
            text-align: left;
            font-size: 50px;
            color: #000000;
            padding-left:30px;
            position: absolute;
            bottom: 35%;
        }
         #showdust{
            font-family:'Arial Unicode MS';
            font-size:120px;
            color:aliceblue;
        }
         #showunitdust{
             font-family:'Arial Unicode MS';
            font-size:50px;
            color:blue;
            padding-left:70px;
            position: absolute;
            bottom: 10%;
         }
        .transbox{
            background-color: #000000;
            height:10%;
            width:100%;
            font-size:35px;
            text-align:center;
            opacity: 0.6;
            filter: alpha(opacity=60);
        }
        #headweather{
            background-color: #000000;
            height:8%;
            width:100%;
            font-size:35px;
            text-align:center;
            opacity: 0.6;
            filter: alpha(opacity=60);
            color:#ffffff;
        }
        #headdust{
            background-color: #000000;
            height:20%;
            width:100%;
            font-size:40px;
            text-align:center;
            opacity: 0.6;
            filter: alpha(opacity=60);
            color:#ffffff;
        }
        #h{
            color:aliceblue;
        }
        #bodyweather {
            background-color: #858a8f;
            height:82%;
            width:100%;
            font-size:35px;
            text-align:center;
            opacity: 0.6;
            filter: alpha(opacity=60);
        }
        #bodydust {
            background-color: #858a8f;
            height:70%;
            width:100%;
            font-size:35px;
            text-align:center;
            opacity: 0.6;
            filter: alpha(opacity=60);
        }
       #ip{
            color:#ffffff;
        }
        #showtime {
            font-size: 50px;
            color: #ffffff;
           text-align:center;
           
        }
        #showday{
           font-size:80px;
           color:#000000;
        }
        #header5day{
            background-color: #000000;
            height:55px;
            width:100%;
            font-size:35px;
            text-align:left;
            opacity: 0.4;
            filter: alpha(opacity=40);
            color:#ffffff;
            font-size:35px;
            padding-left:20px;
        }
       
        #body5day{
            background-color: #CCFFFF;
            width:100%;
        }
        #Cardbody {
            background-image: linear-gradient(#54a7f0, #bfdef5,#bfdef5,#61aef2);

        }
        /*#headtime{
            background-color: #858a8f;
            height:100%;
            width:100%;
            text-align:center;
            opacity: 0.6;
            filter: alpha(opacity=60);
        }*/
        #Picnyt {
            height: auto;
            width: 100%;
            overflow: auto;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        #imgn {
            background-image: url('../images/a5_2019_nologo.jpg') ;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            background-origin: content-box;
            height: 320px;
            width: 100%;
           
        }
    </style>
    <script>
        $(document).ready(function () {
           // Getday();
            Gettime();
            GetdateFromAPI();
            GetdateDust();
        });

        var GetdateFromAPI = function () {
            var i,staPressure;
    $.ajax({
        url: '@Url.Action("GetdataXML", "Home")',
        contentType: "application/json"
    }).done(function (res) {
        for (i in res.Weather3Hours.Stations.Station) {
            //console.log(res.Weather3Hours.Stations.Station[i].WmoStationNumber);
            if (res.Weather3Hours.Stations.Station[i].WmoStationNumber == "48463") {
                console.log("StationPressure = " + res.Weather3Hours.Stations.Station[i].Observation.StationPressure["#text"]);
                document.getElementById("temp").innerHTML = res.Weather3Hours.Stations.Station[i].Observation.AirTemperature["#text"];
                document.getElementById("wind").innerHTML ="ลม : "+res.Weather3Hours.Stations.Station[i].Observation.WindSpeed["#text"] + " กม/ชม";
                document.getElementById("humidity").innerHTML ="ความชื้น : "+ res.Weather3Hours.Stations.Station[i].Observation.RelativeHumidity["#text"]+" %";
            }
        }
    });
        }
              var GetdateDust = function () {
            var i,staPressure;
    $.ajax({
        url: '@Url.Action("GetdataDust", "Home")',
        contentType: "application/json"
    }).done(function (res) {
        document.getElementById("showdust").innerHTML = res.LastUpdate.PM25["value"];
    });
        }
        var Getday = function () {
            var day;
            switch (new Date().getDay()) {
                case 0:
                    day = "Sun";
                    break;
                case 1:
                    day = "Mon";
                    break;
                case 2:
                    day = "Tues";
                    break;
                case 3:
                    day = "Wed";
                    break;
                case 4:
                    day = "Thurs";
                    break;
                case 5:
                    day = "Fri";
                    break;
                case 6:
                    day = "Sat";
            }
             document.getElementById("showday").innerHTML = day;

        }
        var Gettime = function () {
            var H, M, S, D;
            var obj = new Date();
            H = obj.getHours();
            M = obj.getMinutes();
            S = obj.getSeconds();
            D = H + ":" + M + ":" + S;
            document.getElementById("showtime").innerHTML = D;
            if (H == "23" && M == "35" && S == "59") {
                setTimeout(window.location.reload(), 1000);
            } else if(H == "1" && M == "10" && S == "59"){
                setTimeout(Recall, 1000);
            }else if(H == "4" && M == "10" && S == "59"){
                setTimeout(Recall, 1000);
            }else if(H == "7" && M == "10" && S == "59"){
                setTimeout(Recall, 1000);
            }else if(H == "10" && M == "10" && S == "59"){
                setTimeout(Recall, 1000);
            }else if(H == "13" && M == "10" && S == "59"){
                setTimeout(Recall, 1000);
            }else if(H == "16" && M == "10" && S == "59"){
                setTimeout(Recall, 1000);
            }else if(H == "19" && M == "10" && S == "59"){
                setTimeout(Recall, 1000);
            }else if(H == "22" && M == "10" && S == "59"){
                setTimeout(Recall, 1000);
            }
            else {
                setTimeout(Gettime, 1000);
            }

        }

        var Recall = function () {
            Gettime();
            GetdateFromAPI();
        }



    </script>
}